@charset "utf-8";

@import "_nomalize";

// メディアクエリ
//-------------------------------------------------------------------------------------------------------
@mixin addquery($point) {
   @media screen and (max-width: $point) { @content; }
}

#main.sp{
  &:before {
  content:"";
  display:block;
  position:fixed;
  top:0;
  left:0;
  z-index:-1;
  width:100%;
  height:100vh;
  background:url("/obscure/images/bg_move.gif") center center/ 100% auto no-repeat #F8F8F8;
  }
}


body{
  background:#fff;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: rgba(255,255,255,0.7);
  z-index: 2;
  -webkit-user-select: none;
}

h1,h2,h3,h4,h5,h6,p,li,a,th,td{
   font-family: 'Special Elite', cursive, "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "MS P明朝", "MS 明朝", serif;
   text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(255,255,255,0.15);
   line-height: 1.4;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: inline-block;
  max-width: 100%;
}

#wrap-canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  display: block;
  z-index: -1;
}

canvas {
  margin: 0;
  padding: 0;
  display: block;
}

.main {
  width: 1080px;
  margin: 0 auto;
}

h1 {
  padding: 20px;
  text-align: center;
  margin: 0;
}

#js-instalib {
  width: 1080px;
  margin: 0 auto;
  padding: 68px 0 0;
  display: block;
  overflow: hidden;
  &:after{
    content:"";
    display:block;
    clear:both;
  }
}

#js-instalib li {
 list-style: none;
 opacity: 0;
 float: left;
 padding: 0;
 margin-left: 0;
 margin-top: 0;
 margin-right: (20/1080)*100%;
 margin-bottom: (40/1080)*100%;
 box-sizing: border-box;
 width: (340/1080)*100%;
 max-height: 300px;
 img {
   width: 100%;
   height: auto;
 }
 &:nth-child(3n){
  margin-right: 0;
 }
}

#js-instalib li a {
  display: block;
  position: relative;
  overflow: hidden;
  transform: rotate(-45deg);
  border: 1px solid #333;
  box-sizing: border-box;
  z-index: 1;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAMAAABlA5WwAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFAAAA+/n5Hek1sgAAAAJ0Uk5T/wDltzBKAAAAD0lEQVR42mJgZAACgAADAAALAAI+hmr/AAAAAElFTkSuQmCC") repeat 0 0;
  transition: all .3s ease-in-out 0s;
}

#js-instalib li a img {
  transform: rotate(45deg);
  transition: all .3s ease-in-out 0s;
}

#js-instalib li a:hover img {
  transform: scale3d(2,2,2);
  transition: transform .2s ease-in-out 0s;
}

@mixin animationValue( $name, $duration , $function, $delay, $count, $state){
    -webkit-animation: $name $duration+s $function $delay+s $count $state;
  animation: $name $duration+s $function $delay+s $count $state;
}

@for $cnt from 1 through 30{
    .item:nth-child(#{$cnt}){
        @include animationValue(example, 0.5, ease, $cnt * 0.5 , 1, forwards);
    }
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}

@include keyframes(example) {
  100% {
      opacity: 1;
  } 
}

@media screen and (max-width: 1080px) {
  #js-instalib {
    width: auto;
    padding: 15px 2%;
  }
  .main{
    width: auto;
    overflow: hidden;
  }
}

@media screen and (max-width: 640px) {
  #js-instalib li {
   margin-left: 0;
   margin-top: 0;
   margin-right: 2%;
   width: 49%;
   //border: 1px double #aaa;
   border-radius: 4px;
   box-sizing: border-box;
   padding: 10px;
   max-height: 150px;
   &:nth-child(3n){
    margin-right: 2%;
    //margin-bottom: 50px;
   }
   &:nth-child(2n){
    margin-right: 0;
    //margin-top: 50px;
   }
 }

 .wrap-canvas {
  background: #000;
 }
}

#main-visual {
  background-color: #fff;
  overflow: hidden;
  position: relative;
}

#main-visual-bg {
  transform: rotate(235deg);
  position: relative;
  top: 18.7%;
  left: 27.9%;
  overflow: hidden;
  opacity: 0.75;
  border-right: 6px double #eee;
  z-index:1;
  &:before{
    display:block;
    content:"";
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    z-index:2;
    opacity:0.75;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAMAAABlA5WwAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFAAAA+/n5Hek1sgAAAAJ0Uk5T/wDltzBKAAAAD0lEQVR42mJgZAACgAADAAALAAI+hmr/AAAAAElFTkSuQmCC") repeat 0 0;
  }
}

.is-start .img1,
.is-start .img2,
.is-start .img3,
.is-start .img4,
.is-start .img5 {
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  z-index: -1;
}

.img1 {
  background: url(/obscure/common/img/img_art_01.png) no-repeat;
  background-size: cover;
  animation: bgmove 4s linear 1;
  opacity: 0;
}

.img2 {
  background: url(/obscure/common/img/img_art_02.png) no-repeat;
  background-size: cover;
  animation: bgmove2 4s linear 1;
  animation-delay: 4s;
  opacity: 0;
}

.img3 {
  background: url(/obscure/common/img/img_art_03.png) no-repeat;
  background-size: cover;
  animation: bgmove 4s linear 1;
  animation-delay: 8s;
  opacity: 0;
}

.img4 {
  background: url(/obscure/common/img/img_art_04.png) no-repeat;
  background-size: cover;
  animation: bgmove2 4s linear 1;
  animation-delay: 12s;
  opacity: 0;
}

.img5 {
  background: url(/obscure/common/img/img_art_prof.jpg) no-repeat;
  background-size: cover;
  animation: fin 2s linear forwards;
  animation-delay: 16s;
  opacity: 0;
}

//section bg animation
@keyframes bgmove {
  0% {
    opacity: 0;
    background-position: 200px 0;
  }
  50% {
    opacity: .75;
  }
  80% {
    opacity: .75;
  }
  100% {
    opacity: 0;
    background-position: 100px 0;
  }
}

@keyframes bgmove2 {
  0% {
    opacity: 0;
    background-position: 0 0;    
  }
  50% {
    opacity: .75;
  }
  80% {
    opacity: .75;
  }
  100% {
    opacity: 0;
    background-position: 100px 0;
  }
}

@keyframes fin {
  0% {
    opacity: 0;
    display:block;
  }
  100% {
    opacity: .75;
  }
}

.title {
  font-size: 24vw;
  text-align: center;
  position: absolute;
  letter-spacing: 4vw;
  top: 50%;
  margin-top: -12vw;
  color: #000;
  line-height: 1;
  text-shadow: 4px 3px 0px #eee, 9px 8px 0px rgba(255,255,255,0.15);
  animation: anim 10s linear infinite;
}

@keyframes anim {
  0% {color: #000; text-shadow: 1px 2px 1px #fff;}
  50% {color: #fff; text-shadow: 1px 2px 1px #000;}
  100% {color: #000; text-shadow: 1px 2px 1px #fff;}
}


.heading-01 {
  text-align: center;
  font-size: 10vw;
  position: relative;
  z-index: 2;
  margin-bottom: 30px;
  line-height: 1;
}

.img {
  width: 320px;
}

@media screen and (max-width: 640px) {
  #js-instalib {
    margin-bottom: 120px;
  }
}

.box1,.box2,.box3{
  position: relative;
  min-height: 350px;
}

.box1:before,
.box2:before,
.box3:before {
  display: block;
  content:"";
  position: absolute;
  z-index: -1;
  transform: rotate(-30deg);
  border-top: 1px solid #333;
  border-right: 1px solid #333;
  box-sizing: border-box;
  z-index: 1;
  padding: 50px;
  width: 100%;
  min-height: 350px;
  margin: -50px auto;
  top: -50px;
}

.box-inner {
  width: 920px;
  margin: 0 auto 100px;
  @media screen and (max-width: 920px) {
    width: auto;
    padding: 0 15px;
  }
}

.icon-list li {
  display: inline-block;
  text-align:center;
  font-size: 24px;
  margin-right: 20px;
  i {
    margin-right: 10px;
  }
  a{
    color: #333;
  }
}


.box2:before {
  transform: rotate(210deg);
  border-top: none;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;

}

.box3:before {
  transform: rotate(-30deg);
  min-height: 200px;
}

.box1 p,
.box2 p,
.box3 p {
  text-align: center;
  font-size: 30px;
  @media screen and (max-width: 640px) {
    font-size: 16px;
  }
}


footer {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAMAAABlA5WwAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFAAAA+/n5Hek1sgAAAAJ0Uk5T/wDltzBKAAAAD0lEQVR42mJgZAACgAADAAALAAI+hmr/AAAAAElFTkSuQmCC") repeat 0 0;
  color: #fff;
}

footer .inner-footer{
  position: relative;
  padding: 0 15px;
}

.footer-list {
  position: absolute;
  right: 15px;
  top: 20px;
  li {
    display: inline-block;
    margin-left: 10px;
    a{
      color: #fff;
      text-shadow: none;
      font-size: 24px;
    }
  }
}

footer p {
  margin: 0;
  padding: 20px 0;
}

.bg-layer{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: 1000;
  display: none;
}

.bg-layer.block{
  display: block;
}

#img-insta {
  display: none;
}

#img-insta.block {
  display: block;
}

#img-insta.block {
  z-index: 1001;
  max-width: 640px;
  text-align: center;
  position: absolute;
  display: block;
  margin: 0 auto;
  left:0;
  right:0;
  animation: slideBlock .2s ease-out forwards;
  @media screen and (max-width: 640px) {
    max-width: 90%;
  }
}

@keyframes slideBlock {
  0% {opacity: 0;transform: scale(.2);}
  100% {opacity: 1;transform: scale(1);}
}
